.manage-doctor-container {
  padding: 0 10px;

  .manage-doctor-editor {

  }

  .save-btn {
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px;
    margin-top: 10px;
  }
}
